<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
        <div>
            <h2>Author: {{ author }}</h2>
            <p><strong>Text:</strong></p>
            <div class="card">
                <div class="card-body">
                    {{ text | safe }}
                </div>
            </div>
        </div>
    </div>
    <script type="module" defer>
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.esm.min.mjs';
        mermaid.initialize({
          securityLevel: 'loose',
          startOnLoad: true
        });
        let observer = new MutationObserver(mutations => {
          for(let mutation of mutations) {
            mutation.target.style.visibility = "visible";
          }
        });
        document.querySelectorAll("pre.mermaid-pre div.mermaid").forEach(item => {
          observer.observe(item, { 
            attributes: true, 
            attributeFilter: ['data-processed'] });
        });
      </script>
</body>
</html>
