<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answers list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Answers List</h1>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Exam</th>
                    <th>Text</th>
                    <th>Answer</th>
                    <th>Your Stats</th>
                    <th>Guide</th>
                </tr>
            </thead>
            <tbody>
                {% for dat in data %}
                <tr>
                    <td>{{ dat[0] }}</td>
                    <td>{{ dat[1] }}</td>
                    <td>{{ dat[2] }}</td>
                    <td>{{ dat[8] }}</td>
                    <td><a href="/stat/{{ dat[0] }}" class="btn btn-primary">View Stats</a></td>
                    <td><a href="/guides/{{ dat[0] }}" class="btn btn-primary">View Guide</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
