<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-SocketIO Example</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.js"></script>
    <style>
        #container {
            display: none;
        }

        #image_container {
            display: none
        }

        #result {
            display: none;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body data-bs-theme="dark">

    <div class="container" id="test_start_container">
        <div class="row" style="margin-top: 25vh;">
            <div class="col-12 text-center">
                <button id="test_start" class="btn btn-primary">Start Test</button>
            </div>
        </div>
    </div>


    <div class="container mt-5" id="container">
        <div class="text-center">

            <p id="question_text" style="user-select: none;"></p> <br><br>

            <div id="image_container" class="mb-3">
                <img src="" class="img-fluid">
            </div> <br>

            <button id="a_text" class="btn btn-dark border" onclick="check('A');">A</button><br><br>
            <button id="b_text" class="btn btn-dark border" onclick="check('B');">B</button><br><br>
            <button id="c_text" class="btn btn-dark border" onclick="check('C');">C</button><br><br>
            <button id="d_text" class="btn btn-dark border" onclick="check('D');">D</button><br><br>

            <p id="result" class="mt-3"></p>

            <br><br><br>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#stats-modal" onclick="stats_get()">
                            Stats
                        </button>
                        <button id="next_q" class="btn btn-primary" onclick="next_question();">Next Question</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#guide-modal" onclick="guide_get()">
                            Guide
                        </button>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="stats-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="stats-container">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="guide-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="guide-container">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        const socket = io();

        function connect() {
            socket.connect();
            next_question();
        }


        document.getElementById("test_start").addEventListener("click", function () {
            connect();

            document.getElementById("test_start").style.display = "none";
            document.getElementById("test_start_container").style.display = "none";
            document.getElementById("container").style.display = "block";
        });

        function check(answer) {
            socket.emit("check_answer", answer);
        }

        function next_question() {
            socket.emit("next_question");
        }


        function stats_get() {
            socket.emit("send_stats");
        }

        socket.on("get_stats", function (data) {
            document.getElementById("stats-container").innerHTML = data;
        });

        socket.on("get_stats_none", function () {
            document.getElementById("stats-container").innerHTML = "No Data!";
        });


        function guide_get() {
            socket.emit("send_guide");
        }

        socket.on("get_guide", function (data) {
            console.log(data);
            document.getElementById("guide-container").innerHTML = data;
        });

        socket.on("get_guide_none", function () {
            document.getElementById("guide-container").innerHTML = "There is no guides for this question";
        });


        let firstCall = true;

        socket.on("get_question", function (data) {
            document.getElementById("a_text").style = "";
            document.getElementById("b_text").style = "";
            document.getElementById("c_text").style = "";
            document.getElementById("d_text").style = "";

            if (firstCall) {
                firstCall = false;
                document.getElementById("result").style.display = "none";

                document.getElementById("a_text").disabled = false;
                document.getElementById("b_text").disabled = false;
                document.getElementById("c_text").disabled = false;
                document.getElementById("d_text").disabled = false;

                document.getElementById("question_text").innerText = data.text;

                document.getElementById("a_text").innerText = data.a;
                document.getElementById("b_text").innerText = data.b;
                document.getElementById("c_text").innerText = data.c;
                document.getElementById("d_text").innerText = data.d;
            } else {
                setTimeout(() => {
                    document.getElementById("result").style.display = "none";

                    document.getElementById("a_text").disabled = false;
                    document.getElementById("b_text").disabled = false;
                    document.getElementById("c_text").disabled = false;
                    document.getElementById("d_text").disabled = false;

                    document.getElementById("question_text").innerText = data.text;

                    document.getElementById("a_text").innerText = data.a;
                    document.getElementById("b_text").innerText = data.b;
                    document.getElementById("c_text").innerText = data.c;
                    document.getElementById("d_text").innerText = data.d;
                }, 110);
            }
        });


        socket.on("check_complete", function (data) {
            document.getElementById("result").style.display = "block";
            document.getElementById("a_text").disabled = true;
            document.getElementById("b_text").disabled = true;
            document.getElementById("c_text").disabled = true;
            document.getElementById("d_text").disabled = true;

            a = { "A": "a_text", "B": "b_text", "C": "c_text", "D": "d_text" };

            if (data.res) {
                document.getElementById("result").innerText = "Correct";
                document.getElementById(a[data.cor_res]).style = "background: green";
            } else {
                document.getElementById(a[data.cor_res]).style = "background: green";
                document.getElementById(a[data.your_ans]).style = "background: red";
                document.getElementById("result").innerText = "Incorrect!!! Keep learning!";
            }
            console.log(data);
        });

        socket.on("some_problem", function (data) {
            alert(data);
        });

        document.addEventListener("visibilitychange", function () {
            if (document.visibilityState === 'hidden') {
                // Пользователь ушел с текущей вкладки или окна
                console.log('Пользователь ушел с текущей вкладки или окна');
            } else {
                // Пользователь вернулся на текущую вкладку или окно
                console.log('Пользователь вернулся на текущую вкладку или окно');
            }
        });


    </script>
</body>

</html>